<div class="container">
  <!-- {{ cliente | json }}
  {{ usuarioForm.valid }}
  <br>
  {{ usuarioForm.invalid }} -->
  <div class="alert alert-danger" *ngIf="usuarioForm.invalid && usuarioForm.dirty">
    Preencha corretamente os campos!
  </div>
  <form autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" name="nome"
        [(ngModel)]="cliente.nome" required minlength="10" #nome="ngModel">

      <!--
      Touched: {{ nome.touched }} <br>
      Pristine: {{ nome.pristine }} <br>
      Dirty: {{ nome.dirty }} <br>
      -->

      <!-- <div *ngIf="nome.invalid">Preencha um nome válido!</div> -->
      <!-- <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
           <div *ngIf="nome.hasError('minlength') && nome.touched">Informe um nome válido</div> -->
      <div *ngIf="nome.hasError('required') && nome.dirty">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.dirty">Informe um nome válido</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">E-mail</label>
      <input type="text" class="form-control" name="email"
        [(ngModel)]="cliente.email" email #email="ngModel">
      <div *ngIf="email.invalid && email.dirty">Informe um email válido</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
      <select class="form-control" name="profissao"
        [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <!-- <option *ngFor="let p of profissoes">{{p}}</option> -->
        <!-- <option *ngFor="let p of profissoes" value="{{p}}" label="{{p}}"></option> -->
        <option *ngFor="let p of profissoes" [value]="p" [label]="p"></option>
      </select>
      <div *ngIf="profissao.invalid && profissao.touched">Informe uma profissão</div>
    </div>

    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary"
        [disabled]="!usuarioForm.valid">Salvar</button>
    </div>
  </form>
</div>
